.tetris {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  width: 600px;
  height: 600px;

  .leftPane {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;

    .score {
      position: absolute;
      top: 150px;
      left: 0;
      font-size: 20pt;
    }

    .preview {
      position: absolute;
      left: 150px;
      width: 120px;  /* 4 cols * 30px */
      height: 120px;  /* 4 rows * 30px */
    }

    .usage {
      position: absolute;
      left: 0;
      top: 300px;

      th, td {
        text-align: left;
      }

      td {
        padding-left: 1em;
      }
    }
  }

  .rightPane {
    position: absolute;
    left: 300px;
    top: 0px;
    width: 300px;  /* 10 cols * 30px */
    height: 600px;  /* 20 rows * 30px */

    .board {
      position: absolute;
      left: 0;
      top: 0;
      width: 300px;  /* 10 cols * 30px */
      height: 600px;  /* 20 rows * 30px */
    }
  }

  .block {
    position: absolute;
    width: 29px;
    height: 29px;
    border: 1px solid black;
    background-color: black;

    &.habitated {
      border: 1px solid black;
      background-color: #f6f6f6;
    }
  }
}